# Python
__pycache__/
*.py[cod]
*$py.class

# Juptyer
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
data/raw/
data/processed/
data/cache/
*.nc
*.h5
*.csv

# Results
results/
results/outputs/
results/checkpoints/
results/ablations/
results/diagnostics/
wandb/
mlruns/
*.png
*.jpg

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
